* {
    box-sizing: border-box;  

  }
  
.img {float: left;
    width: 250px;
}

#contactForm {
      display: inline-block;
      width: 16.575%;
    }

#comments-input  {
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}
